*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;

}

html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.whatsapp-fixo {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
}

.clear{
	clear: both;
}

.cabecalho{
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 11px;
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 1px;
}

.cabecalho .cellphone{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.cabecalho .email{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.cabecalho .empresa{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

#logo{
    height: 130px;
    z-index: 2;
    position: absolute;
    margin-left: 50px;

}

.icone-nav{
    float: right;
    padding-right: 10px;
}

.topnav{
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 60px;
    transition: 0.5s;
    overflow-x: hidden;    
}

.menu-fechado{
    align-items: right;
    background: #00acce;
    width: 100%;
    height: 120px;
    color: white;
    top: 60px;
}

.navbar{
    z-index: 3;
    background-color: transparent;
    margin-left: 20%;    
}

.navbar-light .navbar-brand {
    color: white !important;
    font-size: 22px;
}

.navbar-light .navbar-nav .nav-link {

    font-size: 20px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;    
    z-index: 1;
    background-color: rgba(255,255,255,0.2);
    height: 450px;
}

.carrosel{
    width: 100%;
}

.carrosel img{
    height: 450px;
}

.resto{
    padding-top: 50px;
    vertical-align: middle;
    position: relative;
    height: 2000px;
	background-color: #4B9655;
}

.carousel{
    position: absolute;
    margin-top: -61px;
}

.mumu{
    z-index: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -67px;
}

.ftco-footer{
    background-color: black;
    color: white;
}

.container a{
    color: white;
}

.container a:hover{
    color: #4B9655;
}

.container-servicos{
    height: 350px;
    width: 70%;
    background-color: rgb(0, 102, 0);
    text-align: center;
    margin: 0px auto;
    color: white;
}

.container-servicos p{
    margin-top: 40px;
}

#imgpos1 {
	position: absolute;
	left: 1230px;
	top: 5px;
}

#imgpos2 {
	position: absolute;
	left: 1270px;
	top: 5px;
}

.servicos{
    margin: 50px auto;
    width: 60%;
}

.servicos-item{
    margin-top: 30px;
    height: 200px;
    background-color: rgb(0, 102, 0);
}

.servicos-item img{
    height: 200px;
    width: 40%;
    float: left;
}

.servicos-item h1{
    margin-top: 70px;
    width: 60%;
    float: left;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px){
    .carrosel img{
        height: 250px;
    }

    .servicos-item{
        margin-top: 20px;
        height: 300px;
        background-color: rgb(0, 102, 0);
    }
    

    .servicos-item img{
        height: 200px;
        width: 100%;
        float: left;
    }

    .servicos-item h1{
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 0px;       
    }

    
    
}
