*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;

}

html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

.cabecalho{
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 11px;
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 1px;
}

.cabecalho .cellphone{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.cabecalho .email{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.cabecalho .empresa{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.carrosel{
    width: 100%;
}

.carrosel img{
    height: 450px;
}

.resto{
    position: relative;
    height: 1000px;
	background-color: #4B9655;
}

.carousel{
    position: absolute;
    margin-top: -61px;
}

.navbar{
    height: 10%;
    background: rgba(0,0,0,0) !important;
    z-index: 1;
    position: relative;    
}

.navbar-brand{
    color: black;
    margin-top: 80px;
}
.navbar-brand img{
   margin-left: 30px;   
}

.navbar-item{
    color: black;
}
.navbar-nav li{
    font-size: 20px;
}

.navbar-collapse{
    margin-top: 40px;
}

@media screen and (max-width: 768px){
    .carrosel img{
        height: 250px;
    }
    .navbar{
        margin-top: -60px;
    }
    .navbar-nav {
        float: right;
    }
    .navbar-nav li{
        color: white;
    }

    .navbar-brand{
        margin: 0 0;
    }

    .navbar-brand img{
        height: 60px;
        width: 80px;
        margin: 10px 0;
     }
    .navbar-nav li{
        margin-bottom: -10px;
    }
    
}
.mumu{
    z-index: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -67px;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
    float: right;
}

.ftco-footer{
    background-color: black;
    color: white;
}

.container a{
    color: white;
}

.container a:hover{
    color: #4B9655;
}


