*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;

}

html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

.cabecalho{
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 11px;
    font-family: "Open Sans", Arial, sans-serif;
    letter-spacing: 1px;
}

.cabecalho .cellphone{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.cabecalho .email{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.cabecalho .empresa{
    text-align: center;
    width: 33.3%;
    float: left;
    padding-top: 5px;
}

.carrosel{
    position: relative;
    top: -10%;
    width: 100%;
}

.carrosel img{
    height: 450px;
}

.resto{
    height: 1000px;
		background-color: #8FBC8F;
}

.container-carrosel{
    position: absolute;
}

.navbar{
    height: 10%;
    background: rgba(0,0,0,0) !important;
    z-index: 3;
}

.navbar-brand{
    color: black;
}

.navbar-item{
    color: black;
}

@media screen and (max-width: 768px){
    .carrosel img{
        height: 250px;
    }
}
